In [2]:
import requests
#r = requests.get('https://api.github.com/user', auth=('user', 'pass'))

In [5]:
response = requests.get("https://sportsop-soccer-sports-open-data-v1.p.rapidapi.com/v1/leagues/Premier-League/seasons",
  headers={
    "X-RapidAPI-Host": "sportsop-soccer-sports-open-data-v1.p.rapidapi.com",
    "X-RapidAPI-Key": "05e330ab07mshc78f2cb5280d470p14869ajsnd0b57fa9da68"
  }
)

In [6]:
response

In [9]:
import pandas as pd
import numpy as np
import re

In [12]:
managers = pd.read_csv('manager.csv')
managers#.loc[0]['Name']

,Name,Nat.,Club,From,Until,Duration (days),Years in League,Ref.
0,"<span data-sort-value=""Graham, George"">George ...",NaN,Arsenal,"<span data-sort-value=""000000001986-05-14-0000...","<span data-sort-value=""000000001995-02-21-0000...",3205,1992–1995,[2]
1,"<span data-sort-value=""Houston, Stewart"">Stewa...",NaN,Arsenal,"<span data-sort-value=""000000001995-02-22-0000...","<span data-sort-value=""000000001995-06-08-0000...",106,1995,[3]
2,"<span data-sort-value=""Rioch, Bruce"">Bruce Rioch",NaN,Arsenal,"<span data-sort-value=""000000001995-06-08-0000...","<span data-sort-value=""000000001996-08-12-0000...",431,1995–1996,[2]
3,"<span data-sort-value=""Houston, Stewart"">Stewa...",NaN,Arsenal,"<span data-sort-value=""000000001996-08-12-0000...","<span data-sort-value=""000000001996-09-13-0000...",32,1996,[3]
4,"<span data-sort-value=""Rice, Pat"">Pat Rice",NaN,Arsenal,"<span data-sort-value=""000000001996-09-13-0000...","<span data-sort-value=""000000001996-09-30-0000...",17,1996,[4]
5,"<span data-sort-value=""Wenger, Arsene"">Arsène ...",NaN,Arsenal,"<span data-sort-value=""000000001996-10-01-0000...","<span data-sort-value=""000000002018-05-13-0000...",7894,1996–2018,[5]
6,"<span data-sort-value=""Emery, Unai"">Unai Emery",NaN,Arsenal,"<span data-sort-value=""000000002018-05-23-0000...",Present*,403,2018–,[6]
7,"<span data-sort-value=""Atkinson, Ron"">Ron Atki...",NaN,Aston Villa,"<span data-sort-value=""000000001991-06-07-0000...","<span data-sort-value=""000000001994-11-10-0000...",1252,1992–1994,[7]
8,"<span data-sort-value=""Little, Brian"">Brian Li...",NaN,Aston Villa,"<span data-sort-value=""000000001994-11-25-0000...","<span data-sort-value=""000000001998-02-24-0000...",1187,1994–1998,[8]
9,"<span data-sort-value=""Gregory, John"">John Gre...",NaN,Aston Villa,"<span data-sort-value=""000000001998-02-25-0000...","<span data-sort-value=""000000002002-01-24-0000...",1429,1998–2002,[9]
10,"<span data-sort-value=""Deehan, John"">John Deehan",NaN,Aston Villa,"<span data-sort-value=""000000002002-01-24-0000...","<span data-sort-value=""000000002002-02-05-0000...",12,2002,[10]
11,"<span data-sort-value=""Gray, Stuart"">Stuart Gray",NaN,Aston Villa,"<span data-sort-value=""000000002002-01-24-0000...","<span data-sort-value=""000000002002-02-05-0000...",12,2002,[11]
12,"<span data-sort-value=""Taylor, Graham"">Graham ...",NaN,Aston Villa,"<span data-sort-value=""000000002002-02-05-0000...","<span data-sort-value=""000000002003-05-14-0000...",463,2002–2003,[12]
13,"<span data-sort-value=""O'Leary, David"">David O...",NaN,Aston Villa,"<span data-sort-value=""000000002003-05-20-0000...","<span data-sort-value=""000000002006-07-19-0000...",1156,2003–2006,[13]
14,"<span data-sort-value=""O'Neill, Martin"">Martin...",NaN,Aston Villa,"<span data-sort-value=""000000002006-08-05-0000...","<span data-sort-value=""000000002010-08-09-0000...",1465,2006–2010,[14]
15,"<span data-sort-value=""MacDonald, Kevin"">Kevin...",NaN,Aston Villa,"<span data-sort-value=""000000002010-08-09-0000...","<span data-sort-value=""000000002010-09-08-0000...",30,2010,[15]
16,"<span data-sort-value=""Houllier, Gérard"">Gérar...",NaN,Aston Villa,"<span data-sort-value=""000000002010-09-08-0000...","<span data-sort-value=""000000002011-06-01-0000...",266,2010–2011,[16]
17,"<span data-sort-value=""McAllister, Gary"">Gary ...",NaN,Aston Villa,"<span data-sort-value=""000000002011-04-23-0000...","<span data-sort-value=""000000002011-05-22-0000...",29,2011,[17]
18,"<span data-sort-value=""McLeish, Alex"">Alex McL...",NaN,Aston Villa,"<span data-sort-value=""000000002011-06-17-0000...","<span data-sort-value=""000000002012-05-14-0000...",332,2011–2012,[18]
19,"<span data-sort-value=""Lambert, Paul"">Paul Lam...",NaN,Aston Villa,"<span data-sort-value=""000000002012-06-02-0000...","<span data-sort-value=""000000002015-02-11-0000...",985,2012–2015,[19]
20,"<span data-sort-value=""Marshall, Scott"">Scott ...",NaN,Aston Villa,"<span data-sort-value=""000000002015-02-11-0000...","<span data-sort-value=""000000002015-02-14-0000...",3,2015,[19]
21,"<span data-sort-value=""Sherwood, Tim"">Tim Sher...",NaN,Aston Villa,"<span data-sort-value=""000000002015-02-14-0000...","<span data-sort-value=""000000002015-10-25-0000...",253,2015,[20]
22,"<span data-sort-value=""MacDonald, Kevin"">Kevin...",NaN,Aston Villa,"<span data-sort-value=""000000002015-10-25-0000...","<span data-sort-value=""000000002015-11-02-0000...",8,2015,NaN
23,"<span data-sort-value=""Garde, Rémi"">Rémi Garde",NaN,Aston Villa,"<span data-sort-value=""000000002015-11-02-0000...","<span data-sort-value=""000000002016-03-29-0000...",148,2015–2016,NaN
24,"<span data-sort-value=""Black, Eric"">Eric Black",NaN,Aston Villa,"<span data-sort-value=""000000002016-03-29-0000...","<span data-sort-value=""000000002016-06-02-0000...",65,2016,NaN
25,"<span data-sort-value=""Smith, Dean"">Dean Smith",NaN,Aston Villa,"<span data-sort-value=""000000002018-10-10-0000...",Present*,263,2019–,NaN
26,"<span data-sort-value=""Wilson, Danny"">Danny Wi...",NaN,Barnsley,"<span data-sort-value=""000000001994-06-02-0000...","<span data-sort-value=""000000001998-07-07-0000...",1496,1997–1998,[21]
27,"<span data-sort-value=""Bruce, Steve"">Steve Bruce",NaN,Birmingham City,"<span data-sort-value=""000000002001-12-12-0000...","<span data-sort-value=""000000002007-11-23-0000...",2172,2002–2006\r\n2007,[22]
28,"<span data-sort-value=""Black, Eric"">Eric Black",NaN,Birmingham City,"<span data-sort-value=""000000002007-11-23-0000...","<span data-sort-value=""000000002007-11-27-0000...",4,2007,[23]
29,"<span data-sort-value=""McLeish, Alex"">Alex McL...",NaN,Birmingham City,"<span data-sort-value=""000000002007-11-28-0000...","<span data-sort-value=""000000002011-06-12-0000...",1496,2007–2008\r\n2009–2011,[22]
...,...,...,...,...,...,...,...,...
365,"<span data-sort-value=""Pulis, Tony"">Tony Pulis",NaN,West Bromwich Albion,"<span data-sort-value=""000000002015-01-01-0000...","<span data-sort-value=""000000002017-11-20-0000...",1054,2015–2017,NaN
366,"<span data-sort-value=""Megson, Gary"">Gary Megson",NaN,West Bromwich Albion,"<span data-sort-value=""000000002017-11-20-0000...","<span data-sort-value=""000000002017-11-29-0000...",9,2017,NaN
367,"<span data-sort-value=""Pardew, Alan"">Alan Pardew",NaN,West Bromwich Albion,"<span data-sort-value=""000000002017-11-29-0000...","<span data-sort-value=""000000002018-04-02-0000...",124,2017–2018,NaN
368,"<span data-sort-value=""Moore, Darren"">Darren M...",NaN,West Bromwich Albion,"<span data-sort-value=""000000002018-04-02-0000...","<span data-sort-value=""000000002019-03-09-0000...",341,2018,NaN
369,"<span data-sort-value=""Bonds, Billy"">Billy Bonds",NaN,West Ham United,"<span data-sort-value=""000000001990-02-23-0000...","<span data-sort-value=""000000001994-08-10-0000...",1629,1993–1994,[156]
370,"<span data-sort-value=""Redknapp, Harry"">Harry ...",NaN,West Ham United,"<span data-sort-value=""000000001994-08-10-0000...","<span data-sort-value=""000000002001-05-09-0000...",2464,1994–2001,[157]
371,"<span data-sort-value=""Roeder, Glenn"">Glenn Ro...",NaN,West Ham United,"<span data-sort-value=""000000002001-05-09-0000...","<span data-sort-value=""000000002003-04-24-0000...",715,2001–2003,[158]
372,"<span data-sort-value=""Brooking, Trevor"">Trevo...",NaN,West Ham United,"<span data-sort-value=""000000002003-04-24-0000...","<span data-sort-value=""000000002003-05-12-0000...",18,2003,[159]
373,"<span data-sort-value=""Pardew, Alan"">Alan Pardew",NaN,West Ham United,"<span data-sort-value=""000000002003-10-20-0000...","<span data-sort-value=""000000002006-12-11-0000...",1148,2005–2006,[160]
374,"<span data-sort-value=""Curbishley, Alan"">Alan ...",NaN,West Ham United,"<span data-sort-value=""000000002006-12-13-0000...","<span data-sort-value=""000000002008-09-03-0000...",630,2006–2008,[161]
375,"<span data-sort-value=""Keen, Kevin"">Kevin Keen",NaN,West Ham United,"<span data-sort-value=""000000002008-09-03-0000...","<span data-sort-value=""000000002008-09-15-0000...",12,2008,[162]
376,"<span data-sort-value=""Zola, Gianfranco"">Gianf...",NaN,West Ham United,"<span data-sort-value=""000000002008-09-15-0000...","<span data-sort-value=""000000002010-05-11-0000...",603,2008–2010,[163]
377,"<span data-sort-value=""Grant, Avram"">Avram Grant",NaN,West Ham United,"<span data-sort-value=""000000002010-06-03-0000...","<span data-sort-value=""000000002011-05-15-0000...",346,2010–2011,[164]
378,"<span data-sort-value=""Keen, Kevin"">Kevin Keen",NaN,West Ham United,"<span data-sort-value=""000000002011-05-15-0000...","<span data-sort-value=""000000002011-06-01-0000...",17,2011,[165]
379,"<span data-sort-value=""Allardyce, Sam"">Sam All...",NaN,West Ham United,"<span data-sort-value=""000000002011-06-01-0000...","<span data-sort-value=""000000002015-05-24-0000...",1453,2012–2015,NaN
380,"<span data-sort-value=""Bilić, Slaven"">Slaven B...",NaN,West Ham United,"<span data-sort-value=""000000002015-06-09-0000...","<span data-sort-value=""000000002017-11-06-0000...",881,2015–2017,NaN
381,"<span data-sort-value=""Moyes, David"">David Moyes",NaN,West Ham United,"<span data-sort-value=""000000002017-11-07-0000...","<span data-sort-value=""000000002018-05-16-0000...",190,2017–2018,NaN
382,"<span data-sort-value=""Pellegrini, Manuel"">Man...",NaN,West Ham United,"<span data-sort-value=""000000002018-05-22-0000...",Present*,404,2018–,NaN
383,"<span data-sort-value=""Jewell, Paul"">Paul Jewell",NaN,Wigan Athletic,"<span data-sort-value=""000000002001-06-12-0000...","<span data-sort-value=""000000002007-05-14-0000...",2162,2005–2007,[166]
384,"<span data-sort-value=""Hutchings, Chris"">Chris...",NaN,Wigan Athletic,"<span data-sort-value=""000000002007-05-14-0000...","<span data-sort-value=""000000002007-11-05-0000...",175,2007,[166]
385,"<span data-sort-value=""Barlow, Frank"">Frank Ba...",NaN,Wigan Athletic,"<span data-sort-value=""000000002007-11-05-0000...","<span data-sort-value=""000000002007-11-26-0000...",21,2007,[166]
386,"<span data-sort-value=""Bruce, Steve"">Steve Bruce",NaN,Wigan Athletic,"<span data-sort-value=""000000002007-11-26-0000...","<span data-sort-value=""000000002009-06-03-0000...",555,2007–2009,[166]
387,"<span data-sort-value=""Martinez, Roberto"">Robe...",NaN,Wigan Athletic,"<span data-sort-value=""000000002009-06-15-0000...","<span data-sort-value=""000000002013-05-28-0000...",1443,2009–2013,[167][168]
388,"<span data-sort-value=""Kinnear, Joe"">Joe Kinnear",NaN,Wimbledon,"<span data-sort-value=""000000001992-01-19-0000...","<span data-sort-value=""000000001999-06-09-0000...",2698,1992–1999,NaN
389,"<span data-sort-value=""Olsen, Egil"">Egil Olsen",NaN,Wimbledon,"<span data-sort-value=""000000001999-06-09-0000...","<span data-sort-value=""000000002000-05-01-0000...",327,1999–2000,[169]
390,"<span data-sort-value=""Burton, Terry"">Terry Bu...",NaN,Wimbledon,"<span data-sort-value=""000000002000-05-01-0000...","<span data-sort-value=""000000002002-04-25-0000...",724,2000,[169]
391,"<span data-sort-value=""Jones, Dave"">Dave Jones",NaN,Wolverhampton Wanderers,"<span data-sort-value=""000000002001-01-03-0000...","<span data-sort-value=""000000002004-11-11-0000...",1408,2003–2004,[116]
392,"<span data-sort-value=""McCarthy, Mick"">Mick Mc...",NaN,Wolverhampton Wanderers,"<span data-sort-value=""000000002006-08-05-0000...","<span data-sort-value=""000000002012-02-14-0000...",2019,2009–2012,[170]
393,"<span data-sort-value=""Connor, Terry"">Terry Co...",NaN,Wolverhampton Wanderers,"<span data-sort-value=""000000002012-02-24-0000...","<span data-sort-value=""000000002012-06-30-0000...",127,2012,[171]
394,"<span data-sort-value=""Espírito Santo, Nuno"">N...",NaN,Wolverhampton Wanderers,"<span data-sort-value=""000000002017-05-31-0000...",Present*,760,2018–,[172]

In [ ]:
stripped = re.sub('<[^<]+?>', '', text)